clientUI/Connected Services/ServiceMethods/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50411/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFejemplo" />
  <xs:element name="GetNumeroControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumeroControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumeroControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFejemplo" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFejemplo" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFejemplo" minOccurs="0" name="alumno" nillable="true" type="q3:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFejemplo" minOccurs="0" name="GetAlumnoResult" nillable="true" type="q4:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calificaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parcial1" type="xs:int" />
        <xs:element minOccurs="0" name="parcial2" type="xs:int" />
        <xs:element minOccurs="0" name="parcial3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calificacionesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAlumno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFejemplo" minOccurs="0" name="RegistrarAlumnoResult" nillable="true" type="q5:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAlumno2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAlumno2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFejemplo" minOccurs="0" name="RegistrarAlumno2Result" nillable="true" type="q6:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumno2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumno2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAlumno2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>